                                                                       
set gamename rdr3
set sv_enforceGameBuild 1436
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "gum_version: {{recipeVersion}}"

set mysql_connection_string "mysql://root:@localhost/gum_framework"
set es_enableCustomData 1

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US" 
load_server_icon gumlogo.png
#set mysql_connection_string "{{dbConnectionString}}"

# These resources will start by default.
stop sessionmanager
stop webadmin
ensure mapmanager
ensure chat
ensure sessionmanager-rdr3
ensure fivem
#ensure hardcap
#ensure rconlog
ensure spawnmanager

#GUM BASE
ensure ghmattimysql
ensure uiprompt
ensure gum_core
ensure gum_inputs
ensure gum_menu
ensure gum_inventory
ensure gum_character
ensure gum_creator
ensure gum_adminmenu
ensure gum_bank_new
ensure gum_barberstore
ensure gum_clothingstore
ensure gum_notify
ensure gum_metabolism
ensure gum_weapons
ensure gum_status2


add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}